---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}">
    {% include head.html %}
    <body class="has-push-menu">
    	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=453596798741803&autoLogAppEvents=1"></script>
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>

